/* button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 20px;
} */
